<!DOCTYPE html>
<html>
  <head>
    <title>Email Subscriptions</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag "feste/admin.css" %>
    <%= javascript_include_tag "feste/admin.js" %>
  </head>

  <body>
    <div class="container">

      <% if flash[:notice] || flash[:success] %>
        <% message = flash[:notice] || flash[:success] %>
          <div class="alert mt-5 <%= flash[:notice].present? ? 'alert-warning' : 'alert-success' %>" role="alert"><%= message %></div>
      <% end %>

      <main class="main-body pt-5">
        
        <%= yield %>

      </main>

    </div>

    <%= yield to: :javascript %>
  </body>
</html>